.ShortURLForm {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Form {
	margin: 0px 10px;
	padding: 10px;
}

.InputLabel {
	margin-left: 10px;
}

.InputField {
	padding: 5px;
}

.CopiedFeedback {
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: #28a745;
}

.URLTextInput {
    background-color: #e7f5ea;
    border: 1px #28a745 solid;
}

.URLTextInput:focus {
    background-color: #e7f5ea;
}
