.URLForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form {
    margin: 10px;
    padding: 10px;
}

.InputLabel {
    margin-left: 10px;
}

.InputField {
    padding: 5px;
}

.GetButton {
    margin-top: 10px;
    margin-left: 5px;
}