@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	background-color: #e6e6e6;
}

/* .BurgerMenu {
	position: relative;
	padding-top: .7rem;
	cursor: pointer;
	display: block;
}

.BurgerMenu span {
	background: #fdcb6e;
	display: block;
	position: relative;
	width: 3.5rem;
	height: .4rem;
	margin-bottom: .7rem;
	transition: all ease-in-out 0.2s;
}

.Open span:nth-child(2) {
	opacity: 0;
}

.Open span:nth-child(3) {
	transform: rotate(45deg);
	top: -11px;
}

.Open span:nth-child(1) {
	transform: rotate(-45deg);
	top: 11px;
} */

@media (max-width: 770) {
	.collapse-menu {
		display: flex;
		box-sizing: border-box;
	}
}
