name: Continuous Delivery Pipeline

on:
  push:
    branches:
      - master

jobs:
  deployingProd:
    name: Deployment to Production
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - name: Setting up OpenShift Actions
          uses: redhat-developer/openshift-actions@v2.1.0
          with:
            version: 'latest'
        - name: Executing OC commands
          run: |
            oc login --token=${{ secrets.OC_API_TOKEN }} --server=${{ secrets.OC_SERVER_URL }}
            oc start-build production --follow || oc new-app https://www.github.com/${{ github.repository }} --name=production